body{
    background-color: dimgray;
    color: whitesmoke
}

nav{
    background-color: rgb(37, 37, 37);
}

#profile-pic{
    padding-top:10px; 
    width: 80%;
    height: auto;
    border-radius: 50%;
    
}
.icon-bar {
    width: 97%; /* Full-width */
    background-color: #555; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
  }
  
  .icon-bar a {
    float:left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font size */
  }
  
  #first-a{
    clear:left;
  }

  .icon-bar a:hover {
    background-color: #000; /* Add a hover color */
  }

  .fa{
      padding:10px;
  }
  
  #links-container{
    align-content: center;
    padding-left: 40%;
  }

  .filler{
    height: 1000px;
  }

  .l-1{
    font-size:4vw;
    font-family: Ubuntu Mono;    
  }

  .l-2{
    font-size:7vw;
    font-family: Ubuntu Mono;
  }

  .l-3{
    font-size: 2.5vw;
    font-family: Ubuntu Mono;
  }

  .l-4{
    font-size: 2vw;
    font-family: Ubuntu Mono;
  }


  #about-container{
    padding-top: 30px;
  }

  .navbar{
    /* padding-right: 110px;
    padding-left: 80px; */
    font-style: italic;
    font-family: Ubuntu Mono;
  }

  .social-media-links{
    padding-top: 20px;
  }

  .item{
    padding-left: 20px;
    padding-right: 20px;
  }

  #education{
    text-align: right;
  }

  .r-1, .r-2, .r-3{
    background-color:rgb(48, 47, 51) ;
    margin-top: 15px;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
  }

  #edu{
    font-family: Ubuntu Mono;
  }

  .line-1:after {
    content: '';
    width: 72%;
    height: 2px;
    position: absolute;
    top: 17%;
    right: 5%;
    background: white;
}
.line-2:after {
  content: '';
  width: 37%;
  height: 2px;
  position: absolute;
  top: 65%;
  right: 5%;
  background: white;
}
  
  .line-3:after {
    content: '';
    width: 75%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 23%;
    background: white;
}
.line-4:after {
  content: '';
  width: 74%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 22%;
  background: white;
}
.line-5:after {
  content: '';
  width: 47%;
  height: 2px;
  position: absolute;
  top: 50%;
  right:4%;
  background: white;
}

.navbar-brand{
  font-family: Shadows Into Light;
}

.r-2{
    padding-bottom: 10px;
}

.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.2); 
}

#bits-logo, #sps-logo{
  height:29px;
}
  