body{
    background-color: rgba(187, 187, 187, 0.89);
    color: rgb(70, 70, 70);
}

#heading{
    text-align: center;
    margin: 5vh;
    margin-bottom: 10vh;
}

.post-container{
    background-color: rgb(110, 187, 223);
    color: rgb(70, 70, 70); 
    padding: 1%;
    padding-bottom:2%;
    width:50vw;
    text-align: center;
    margin-bottom: 2%;
}

.title{
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

.nounderline {
    text-decoration: none !important
}

.blog-content{
    padding-top:2%;
    text-align: left;
}
